﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>AJAX test</h2>
        <p>
            <button type="button" id="btnAjaxTest" class="btn btn-success">Test ajax</button>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAjaxTest').click(function () {
                //event.preventDefault();
                //var url = $(this).attr('href');

                $.ajax({
                    url: "/Home/GetCompanyName?id=1",
                    type: "GET",
                    success: function (data) {
                        if (data) {
                            alert("CompanyName: " + data);
                        }
                    },
                    error: function (jqxhr, status, errorMsg) {

                    }
                });

                $.ajax({
                    url: "/Home/AddToFavorites",
                    type: "POST",
                    data: {
                        "Id": 789
                    },
                    success: function (data) {
                        alert(data);
                    },
                    error: function (jqxhr, status, errorMsg) {
                        //console.log('Product ' + prodId + " wasn't added to recent history. Error: " + errorMsg);
                    }
                });


                //$.ajax({
                //    url: "/Home/QuickSearch",
                //    data: "{search:'" + searchBox.val() + "'}",
                //    method: "POST",
                //    dataType: "json",
                //    contentType: "application/json;charset=utf-8",
                //    success: function (data) {
                //        var pattern = searchBox.val();
                //        var link = NormalizeKeyWord(pattern) + "-CTO.html";
                //        $('#divSearchBox>a').attr('href', link);
                //        response(data);
                //    }
                //});
            });
        });
    </script>
}
