﻿@model MVC2.Models.Companies.CompanyModel

<div data-companyid="@Model.CompanyId" class="company-preview">
    <div class="form-group row">
        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.SelectedCityName, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.DisplayFor(model => model.SelectedCityName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>