﻿@model MVC2.Models.Companies.CompanyModel

@{
    ViewBag.Title = "Company Delete";
}


<h3>Are you sure you want to delete this company?</h3>

<div class="container body-content" style="margin-top: 20px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.CompanyName)

            <div class="form-group">

                @Html.DisplayNameFor(model => model.CompanyName)

                @Html.DisplayFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>


        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


