﻿@model Airport.Core.Models.Company[]

@{
    ViewBag.Title = "Companies";
    var RoleAdmin = ViewBag.RoleAdmin;
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Company Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="company" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>CompanyId</th>
                                <th>CompanyName</th>
                                <th>CityName</th>
                                @if (RoleAdmin)
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itm in Model)
                            {
                            <tr id="companyId-@itm.CompanyId">
                                <td>@itm.CompanyId</td>
                                <td>@itm.CompanyName</td>
                                <td>@itm.City.CityName</td>
                                @if (RoleAdmin)
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "EditCompany", new { CompanyId = itm.CompanyId }, new { @class = "btn btn-primary btn-success btn-xs" })
                                        @Html.ActionLink("Delete", "DeleteCompany", new { CompanyId = itm.CompanyId }, new { @class = "btn btn-primary btn-danger btn-xs" })
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>CompanyId</th>
                                <th>CompanyName</th>
                                <th>CityName</th>
                                @if (RoleAdmin)
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            @if (RoleAdmin)
            {
                @Html.ActionLink("Add new Company", "AddNewCompany", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn bg-orange btn-flat margin" })
            }
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(function () {
            $('#company').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}

@*@{
    ViewBag.Title = "Companies";
    var RoleAdmin = ViewBag.RoleAdmin;

    var ajaxOptions = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "companyDetails",
        OnSuccess = "previewSuccess",
        OnFailure = "previewFailure",
        OnBegin = "showLoader",
        OnComplete = "closeLoader"
    };
}

@section Styles{
    <style type="text/css">
        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            padding: 10px;
        }

            table thead th {
                background-color: green;
                color: white;
            }

            table tbody tr.selected {
                background-color: pink;
            }
    </style>
}



<div class="container">
    <div class="row">
        <div class="col-md-7">
            <table>
                <thead>
                    <tr>
                        <th>CompanyId</th>
                        <th>CompanyName</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itm in Model)
                    {
                        <tr id="companyId-@itm.CompanyId">
                            <td>@itm.CompanyId</td>
                            <td>@itm.CompanyName</td>
                            <td>
                                @if (RoleAdmin)
                                {
                                    <span>@Html.ActionLink("Edit", "EditCompany", new { companyId = itm.CompanyId })</span>
                                }
                                <span style="margin-left: 5px;">@Ajax.ActionLink("Details", "CompanyPreview", new { companyId = itm.CompanyId }, ajaxOptions, null)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (RoleAdmin)
            {
                <div style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">
                    @Html.ActionLink("Add new company", "AddNewCompany")
                </div>
            }
        </div>

        <div class="col-md-5" id="companyDetails" style="border: solid 1px black; padding: 10px;">
            <h2>Company details will be here</h2>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function previewSuccess() {
            var elem = $("#companyDetails").find(".company-preview");
            if (elem) {
                var id = $(elem).data("companyid");

                //$("table tbody tr").css({ "background-color": "white" });               // skip color for all rows
                //$("table tbody tr#companyId-" + id).css({ "background-color": "yellow" });  // colorize current

                $("table tbody tr").removeClass("selected");
                $("table tbody tr#companyId-" + id).addClass("selected");
            }
        }

        function previewFailure() {
            console.log("Update preview failure");
        }

        function showLoader() {
            // TODO: display img with spinner
        }

        function closeLoader() {
            // TODO: hide img with spinner
        }
    </script>
}*@