﻿@model MVC2.Models.Terminals.TerminalModel

@{
    ViewBag.Title = "Terminal Delete";
}


<h3>Are you sure you want to delete this terminal?</h3>

<div class="container body-content" style="margin-top: 20px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.TerminalName)

            <div class="form-group">
               
                    @Html.DisplayNameFor(model => model.TerminalName)
             
                    @Html.DisplayFor(model => model.TerminalName)
                    @Html.ValidationMessageFor(model => model.TerminalName, "", new { @class = "text-danger" })
               
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>


        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


