﻿@model Airport.Core.Models.Terminal[]

@{
	ViewBag.Title = "Terminals";
	var RoleAdmin = ViewBag.RoleAdmin;
}
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Terminal Table</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="terminal" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>TerminalId</th>
								<th>TerminalName</th>
								@if (RoleAdmin)
								{
									<th>Actions</th>
								}
							</tr>
						</thead>
						<tbody>
							@foreach (var itm in Model)
							{
								<tr id="companyId-@itm.TerminalId">
									<td>@itm.TerminalId</td>
									<td>@itm.TerminalName</td>
									@if (RoleAdmin)
									{
                                    <td>
                                        @*<span>@Html.ActionLink("Edit", "EditCity", new { cityId = itm.CityId })</span>*@
                                        @Html.ActionLink("Edit", "EditTerminal", new { terminalId = itm.TerminalId }, new { @class = "btn btn-primary btn-success btn-xs" })
                                        @Html.ActionLink("Delete", "DeleteTerminal", new { terminalId = itm.TerminalId }, new { @class = "btn btn-primary btn-danger btn-xs" })
                                    </td>
									}
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>TerminalId</th>
								<th>TerminalName</th>
								@if (RoleAdmin)
								{
									<th>Actions</th>
								}
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			@if (RoleAdmin)
			{
				@Html.ActionLink("Add new terminal", "AddNewTerminal", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn bg-orange btn-flat margin" })
			}
		</div>
	</div>
</section>
@section Scripts{
	<script>
		$(function () {
			$('#terminal').DataTable({
				'paging': true,
				'lengthChange': false,
				'searching': false,
				'ordering': true,
				'info': true,
				'autoWidth': false
			})
		})
	</script>
}
@*@section Styles{
		<style type="text/css">
			table {
				width: 100%;
			}

			table, th, td {
				border: 1px solid black;
				padding: 10px;
			}

			table thead th {
				background-color: green;
				color: white;
			}

			table tbody tr.selected {
				background-color: pink;
			}
		</style>
	}

	<h2>Terminals</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<table>
					<thead>
					<tr>
						<th>TerminalId</th>
						<th>TerminalName</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					@foreach (var itm in Model)
					{
						<tr id="terminalId-@itm.TerminalId">
							<td>@itm.TerminalId</td>
							<td>@itm.TerminalName</td>
							<td>
								<span>@Html.ActionLink("Edit", "EditTerminal", new { terminalId = itm.TerminalId })</span>
							</td>
						</tr>
					}
					</tbody>
				</table>

				<div style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">
					@Html.ActionLink("Add new terminal", "AddNewTerminal")
				</div>
			</div>

			@*<div class="col-md-5" id="cityDetails" style="border: solid 1px black; padding: 10px;">
				<h2>City details will be here</h2>
			</div>*@
@*</div>
	</div>*@
