﻿@model  MVC2.Models.Companies.CityModel

@{
	var action = Model.CityId > 0 ? "EditCity" : "AddNewCity";
	var header = Model.CityId > 0 ? "Edit city" : "Add new city";
	var buttonText = Model.CityId > 0 ? "Save" : "Create";
}

<div class="container body-content" style="margin-top: 20px;">
    @using (Html.BeginForm(action, "Cities", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@header</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.CityId)

            <div class="form-group">
                @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CityName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@buttonText" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

