﻿@model MVC2.Models.Companies.CityModel

@{
    ViewBag.Title = "City Delete";
}


<h3>Are you sure you want to delete this city?</h3>

<div class="container body-content" style="margin-top: 20px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(x => x.CityName)

            <div class="form-group">
                
                    @Html.DisplayNameFor(model => model.CityName)
               
                    @Html.DisplayFor(model => model.CityName)
                    @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </div>


        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


