﻿@model Airport.Core.Models.City[]

@{
	ViewBag.Title = "Cities";
	var RoleAdmin = ViewBag.RoleAdmin;
}


<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Cities Table</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="example2" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>CityId</th>
								<th>CityName</th>
								@if (RoleAdmin)
								{
									<th>Actions</th>
								}
							</tr>
						</thead>
						<tbody>
							@foreach (var itm in Model)
							{
								<tr id="companyId-@itm.CityId">
									<td>@itm.CityId</td>
									<td>@itm.CityName</td>
									@if (RoleAdmin)
									{
                                    <td>
                                        @*<span>@Html.ActionLink("Edit", "EditCity", new { cityId = itm.CityId })</span>*@
                                        <span>@Html.ActionLink("Edit", "EditCity", new { cityId = itm.CityId }, new { @class = "btn btn-primary btn-success btn-xs" })</span>
                                        @Html.ActionLink("Delete", "DeleteCity", new { cityId = itm.CityId }, new { @class = "btn btn-primary btn-danger btn-xs" })
                                    </td>
									}
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>CityId</th>
								<th>CityName</th>
								@if (RoleAdmin)
								{
									<th>Actions</th>
								}
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
				@if (RoleAdmin)
				{
					<div>
						@Html.ActionLink("Add new city", "AddNewCity", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn bg-orange btn-flat margin" })
					</div>
				}
			</div>
		</div>
	</div>
</section>
@section Scripts{
	<script>
		$(function () {
			$('#example2').DataTable({
				'paging': true,
				'lengthChange': false,
				'searching': false,
				'ordering': true,
				'info': true,
				'autoWidth': false
			})
		})
	</script>
}
@*@section Styles{
		<style type="text/css">
			table {
				width: 100%;
			}

			table, th, td {
				border: 1px solid black;
				padding: 10px;
			}

			table thead th {
				background-color: green;
				color: white;
			}

			table tbody tr.selected {
				background-color: pink;
			}
		</style>
	}*@
@*<div class="col-md-5" id="cityDetails" style="border: solid 1px black; padding: 10px;">
				<h2>City details will be here</h2>
			</div>
		</div>
	</div>
	@*<h2>Cities</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<table>
					<thead>
						<tr>
							<th>CityId</th>
							<th>CityName</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var itm in Model)
						{
							<tr id="companyId-@itm.CityId">
								<td>@itm.CityId</td>
								<td>@itm.CityName</td>
								<td>
									<span>@Html.ActionLink("Edit", "EditCity", new { cityId = itm.CityId })</span>
								</td>
							</tr>
						}
					</tbody>
				</table>

				<div style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">
					@Html.ActionLink("Add new city", "AddNewCity")
				</div>
			</div>

			@*<div class="col-md-5" id="cityDetails" style="border: solid 1px black; padding: 10px;">
				<h2>City details will be here</h2>
			</div>
		</div>
	</div>*@
