﻿@using System.Collections
@using Airport.Core.Enums
@model MVC2.Models.Flights.FlightModel

@{
	var action = Model.FlightId > 0 ? "EditFlight" : "AddNewFlight";
	var header = Model.FlightId > 0 ? "Edit flight" : "Add new flight";
	var buttonText = Model.FlightId > 0 ? "Save" : "Create";
}

<div class="container body-content" style="margin-top: 20px;">
	@using (Html.BeginForm(action, "Flights", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>@header</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })

			@Html.HiddenFor(x => x.FlightId)

			<div class="form-group">
				@Html.LabelFor(model => model.FlightNumber, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.FlightNumber, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.FlightNumber, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FlightDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.FlightDateTime, new { htmlAttributes = new { @class = "form-control", type = "datetime-local",
                   @Value = Model.FlightDateTime.ToString() == DateTime.MinValue.ToString() ?  DateTime.Now.ToString("s") : Model.FlightDateTime.ToString("s") } })
					@Html.ValidationMessageFor(model => model.FlightDateTime, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FlightDuration, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.FlightDuration, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.FlightDuration, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.FlightStatusId, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<select name="FlightStatusId" id="FlightStatusId" class="form-control" placeholder="Select status">
						@foreach (var itm in Enum.GetValues(typeof(FlightStatusEnum)))
						{
							if (Model.FlightStatusId == (FlightStatusEnum)itm)
							{
								<option name="FlightStatus" value="@itm" selected>@Enum.GetName(typeof(FlightStatusEnum), itm).Replace("_", " ")</option>
							}
							else
							{
								<option name="FlightStatus" value="@itm">@Enum.GetName(typeof(FlightStatusEnum), itm).Replace("_", " ")</option>
							}
						}
					</select>
				</div>
			</div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cities, "Departure city", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.SelectedCityToId, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    <select name="SelectedCityFromId" id="CityFromId" class="form-control" placeholder="Select city">
                        @foreach (var itm in Model.Cities)
                        {
                            if (Model.SelectedCityFromId == itm.CityId)
                            {
                                <option name="City" value="@itm.CityId" selected>@itm.CityName</option>
                            }
                            else
                            {
                                <option name="City" value="@itm.CityId">@itm.CityName</option>
                            }
                        }
                    </select>
                </div>
            </div>

			<div class="form-group">
				@Html.LabelFor(model => model.Cities, "City of arrival", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<select name="SelectedCityToId" id="CityToId" class="form-control" placeholder="Select city">
						@foreach (var itm in Model.Cities)
						{
							if (Model.SelectedCityToId == itm.CityId)
							{
								<option name="City" value="@itm.CityId" selected>@itm.CityName</option>
							}
							else
							{
								<option name="City" value="@itm.CityId">@itm.CityName</option>
							}
						}
					</select>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Companies, "Company", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<select name="SelectedCompanyId" id="CompanyId" class="form-control" placeholder="Select company">
						@foreach (var itm in Model.Companies)
						{
							if (Model.SelectedCompanyId == itm.CompanyId)
							{
								<option name="Company" value="@itm.CompanyId" selected>@itm.CompanyName</option>
							}
							else
							{
								<option name="Company" value="@itm.CompanyId">@itm.CompanyName</option>
							}
						}
					</select>
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Terminals, "Terminal", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<select name="SelectedTerminalId" id="TerminalId" class="form-control" placeholder="Select terminal">
						@foreach (var itm in Model.Terminals)
						{
							if (Model.SelectedTerminalId == itm.TerminalId)
							{
								<option name="City" value="@itm.TerminalId" selected>@itm.TerminalName</option>
							}
							else
							{
								<option name="City" value="@itm.TerminalId">@itm.TerminalName</option>
							}
						}
					</select>
				</div>
			</div>
			@*<div class="form-group">
					@Html.DropDownListFor(model => model.CityToId, new SelectList(Model.Cities, "CityId", "CityName", Model.CityToId), "Please select city", new { @class = "form-control" })
				</div>*@
			@*<div class="form-group">
					@Html.LabelFor(model => model.CityFromId, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownListFor(model => model.CityFromId, new SelectList(Model.Cities.Select(x => x.CityName)), "Please select city", new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.CityToId, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownListFor(model => model.CityToId, new SelectList(Model.Cities.Select(x => x.CityName), "CityId", "CityName"), "Please select city", new { @class = "form-control" })
					</div>
				</div>*@

			@*<div class="form-group">
					@Html.LabelFor(model => model.Companies, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownList("Companies", new SelectList(Model.Companies.Select(x => x.CompanyName)), "Please select company", new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Terminals, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownList("Terminals", new SelectList(Model.Terminals.Select(x => x.TerminalName)), "Please select terminal", new { @class = "form-control" })
					</div>
				</div>*@

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="@buttonText" class="btn btn-primary" />
				</div>
			</div>



			<div>
				@Html.ActionLink("Back to List", "Index")
			</div>
		</div>
	}
</div>