﻿@using Airport.Core.Enums
@model Airport.Core.Models.Flight[]

@{
	ViewBag.Title = "Flights";
	var RoleAdmin = ViewBag.RoleAdmin;
}

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Flights Table</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="flights" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>FlightId</th>
								<th>FlightNumber</th>
								<th>FlightDateTime</th>
								<th>ArrivalDateTime</th>
								<th>FlightStatus</th>
								<th>CityFromId</th>
								<th>CityToId</th>
								<th>CompanyId</th>
								<th>TerminalId</th>
								@if (RoleAdmin)
								{
									<th>Actions</th>
								}
							</tr>
						</thead>
						<tbody>
							@foreach (var itm in Model)
							{
								<tr id="flightId-@itm.FlightId">
									<td>@itm.FlightId</td>
									<td>@itm.FlightNumber</td>
									<td>@itm.FlightDateTime</td>
									<td>@itm.FlightDateTime.Add(itm.FlightDuration)</td>
									<td>
										@{ var flightStatus = ((FlightStatusEnum)itm.FlightStatusId).ToString().Replace('_', ' '); }
										@flightStatus
									</td>
									<td>@itm.CityFrom.CityName</td>
									<td>@itm.CityTo.CityName</td>
									<td>@itm.Company.CompanyName</td>
									<td>@itm.Terminal.TerminalName</td>
									@if (RoleAdmin)
									{
										<td>
											@*<span>@Html.ActionLink("Edit", "EditFlight", new { flightId = itm.FlightId })</span>*@
											@Html.ActionLink("Edit", "EditFlight", new { flightId = itm.FlightId }, new { @class = "btn btn-primary btn-success btn-xs" })
											@Html.ActionLink("Delete", "DeleteFlight", new { flightId = itm.FlightId }, new { @class = "btn btn-primary btn-danger btn-xs" })
										</td>
									}
								</tr>
							}
						</tbody>
						<tfoot>
							<tr>
								<th>FlightId</th>
								<th>FlightNumber</th>
								<th>FlightDateTime</th>
								<th>ArrivalDateTime</th>
								<th>FlightStatus</th>
								<th>CityFromId</th>
								<th>CityToId</th>
								<th>CompanyId</th>
								<th>TerminalId</th>
								@if (RoleAdmin)
								{
									<th>Actions</th>
								}
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
			@if (RoleAdmin)
			{
				@Html.ActionLink("Add new flight", "AddNewFlight", routeValues: null, htmlAttributes: new { id = "AddLink", @class = "btn bg-orange btn-flat margin" })
			}
		</div>
	</div>
</section>
@section Scripts{
	<script>
		$(function () {
			$('#flights').DataTable({
				'paging': true,
				'lengthChange': false,
				'searching': false,
				'ordering': true,
				'info': true,
				'autoWidth': false
			})
		})
	</script>
}

@*@section Styles{
		<style type="text/css">
			table {
				width: 100%;
			}

			table, th, td {
				border: 1px solid black;
				padding: 10px;
			}

				table thead th {
					background-color: green;
					color: white;
				}

				table tbody tr.selected {
					background-color: pink;
				}
		</style>
	}*@

@*<h2>Flights</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<table>
					<thead>
						<tr>
							<th>FlightId</th>
							<th>FlightNumber</th>
							<th>FlightDateTime</th>
							<th>ArrivalDateTime</th>
							<th>FlightStatus</th>
							<th>CityFromId</th>
							<th>CityToId</th>
							<th>CompanyId</th>
							<th>TerminalId</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var itm in Model)
						{
						<tr id="flightId-@itm.FlightId">
							<td>@itm.FlightId</td>
							<td>@itm.FlightNumber</td>
							<td>@itm.FlightDateTime</td>
							<td>@itm.FlightDateTime.Add(itm.FlightDuration)</td>
							<td>
								@{ var flightStatus = ((FlightStatusEnum) itm.FlightStatusId).ToString().Replace('_', ' '); }
								@flightStatus
							</td>
							<td>@itm.CityFrom.CityName</td>
							<td>@itm.CityTo.CityName</td>
							<td>@itm.Company.CompanyName</td>
							<td>@itm.Terminal.TerminalName</td>
							<td>
								<span>@Html.ActionLink("Edit", "EditFlight", new { flightId = itm.FlightId })</span>
							</td>
						</tr>
						}
					</tbody>
				</table>

				<div style="margin-top: 20px; margin-left: 10px; margin-bottom: 20px;">
					@Html.ActionLink("Add new flight", "AddNewFlight")
				</div>
			</div>

			@*<div class="col-md-5" id="cityDetails" style="border: solid 1px black; padding: 10px;">
					<h2>City details will be here</h2>
				</div>
		</div>
	</div>*@

